@model Healthy_Me.Models.NutritionProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NutritionProfile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.foodAllergies)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.foodAllergies)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.goal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.goal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.startingWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.startingWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.endingWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.endingWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nutritionLog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nutritionLog)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.favoriteRecipes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.favoriteRecipes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
